{% extends "base/core.html" %}

{% block content %}
    {% if request.user.is_authenticated %}
        <p>{{request.user.username}}</p>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
<hr>
<h1>For You</h1>

<div>
    <a href="{% url 'create_tweet' %}">Tweet</a>
    <a>Feed</a>
    <div>
        {% for tweet in tweets %}
            <h5>{{tweet.creator.username}} - {{ tweet.topic }}</h5>
            {% if request.user == tweet.creator %}
                <a href="{% url 'update_tweet' tweet.id %}">Edit</a>
                <form method="POST" action ="{% url 'delete_tweet' tweet.id %}">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            {% endif %}
            <p>{{ tweet.content }}</p>
            <p>{{ tweet.created }}</p>
            <form method="post" action="{% url 'like_tweet' tweet.id %}">
                {% csrf_token %}
                <button type="submit">Like</button>
            </form>
            <a>Comments</a>
            <hr>
                {% for comment in tweet.comments.all %}
                    <a>{{comment.creator.username}}</a>
                    <p>{{comment.content }}</p>
                {% endfor %}
            <form method="post" action="{% url 'create_comment' tweet.id %}">
                {% csrf_token %}
                <input type="text" name="content">
                <button type="submit">Add Comment</button>
            </form>
            <hr>
        {% endfor %}

        {% for comment in comments %}
            <h5>{{ comment.tweet.topic }}
            <p>{{ comment.content }}</p>
        {% endfor %}
    </div>
</div>

{% endblock %}


<!-- dsaDsadsadasdsadasdsa -->